/*****************************************
	fonts
*****************************************/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-kr-400.eot'); /* IE9 Compat Modes */
	src: url('../fonts/noto-sans-kr-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/noto-sans-kr-400.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/noto-sans-kr-400.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/noto-sans-kr-500.eot'); /* IE9 Compat Modes */
	src: url('../fonts/noto-sans-kr-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/noto-sans-kr-500.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/noto-sans-kr-500.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/noto-sans-kr-700.eot'); /* IE9 Compat Modes */
	src: url('../fonts/noto-sans-kr-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/noto-sans-kr-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/noto-sans-kr-700.woff') format('woff'); /* Modern Browsers */
}



/*****************************************
	reset
*****************************************/
* { margin: 0; padding: 0; }
ul, ol { list-style: none; }
a { outline: none; text-decoration: none; color: inherit; }
button { border: none; outline: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; background: none; }
caption { display: none; }
input { border: none; outline: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; background: none; }
select { appearance: none; border: none; outline: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; background: none; cursor: pointer; }



/*****************************************
	common
*****************************************/
a:hover { opacity: 0.7; }
.btn { cursor: pointer; }
.btn:hover { opacity: 0.7; }
.inner-frame { max-width: 1200px; margin: 0 auto; padding: 0 30px; box-sizing: border-box; transition: padding 0.2s; }

/* icon */
.icon { display: inline-block; }
.icon-repeat { width: 22px; height: 22px; background: url('../images/icons/icon-repeat.png') no-repeat center; background-size: 100%; opacity: 0.6; }
.icon-category { width: 22px; height: 22px; background: url('../images/icons/icon-category.png') no-repeat center; background-size: 100%; opacity: 1; }


@media screen and (max-width: 768px) { /* tablet */
	.inner-frame { padding-left: 0; padding-right: 0; }
}

@media screen and (max-width: 480px) { /* mobile */
	.inner-frame {}
}



/*****************************************
	layout
*****************************************/
/* html */
html { line-height: 1.5; font-family: 'Noto Sans KR', sans-serif; color: #2b2e39; }
body { min-height: 100vh; }

/* header */
header { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; color: #fff; padding: 20px 0; box-sizing: border-box; background: #2b2e39; transition: padding 0.2s; }
header:after { content: ''; display: block; clear: both; }
header h1 { float: left; margin: 0 20px 0 0; line-height: 32px; white-space: nowrap; font-size: 14px; transition: font-size 0.2s; }
header .btns-box { float: right; }
header .btn-add { display: inline-block; vertical-align: top; width: 32px; height: 32px; background: url('../images/icons/icon-plus.png') no-repeat center; background-size: 30px; }
header ul.menu-list { display: inline-block; vertical-align: top; margin: 0 20px 0 0; }
header ul.menu-list > li { display: inline-block; vertical-align: top; margin: 0 10px 0 0; }
header ul.menu-list > li a { display: inline-block; vertical-align: top; padding: 3px 10px 5px; }
header ul.menu-list > li.is-active { border-radius: 16px; background: #559af7; }

/* main */
main { padding: 0 0 100px 0; transition: padding 0.2s; }
main:before { content: ''; display: block; height: 72px; background: #2b2e39; transition: height 0.2s; }
main .calendar-head {}
main .calendar-head:after { content: ''; display: block; clear: both; }
main .calendar-head h2 { float: left; line-height: 50px; font-size: 18px; white-space: nowrap; }
main .calendar-head .btns-box { float: right; padding: 5px 0 0 0; }
main .calendar-head .btns-box .btn { overflow: hidden; vertical-align: top; opacity: 0.5; width: 40px; height: 40px; margin: 0 0 0 12px; text-indent: -9999px; line-height: 50px; }
main .calendar-head .btns-box .btn:hover { opacity: 0.8; }
main .calendar-head .btns-box .btn-prev { background: url('../images/icons/icon-prev.png') no-repeat center; background-size: 30px; }
main .calendar-head .btns-box .btn-next { background: url('../images/icons/icon-next.png') no-repeat center; background-size: 30px; }
main .calendar-head .btns-box .btn-today { background: url('../images/icons/icon-today.png') no-repeat center; background-size: 30px; }


@media screen and (max-width: 768px) { /* tablet */
	/* html */
	html { font-size: 14px; }

	/* header */
	header { padding: 10px 20px; }
	header .btn-add { background-size: 24px; }
	header ul.menu-list { margin-right: 8px; padding-top: 3px; }
	header ul.menu-list > li.is-active { border-radius: 13px; }
	header ul.menu-list > li a { padding: 2px 8px; }

	/* main */
	main:before { height: 52px; }
	main .calendar-head { padding: 0 20px; }
	main .calendar-head h2 { line-height: 40px; font-size: 16px; }
	main .calendar-head .btns-box { padding: 0; }
	main .calendar-head .btns-box .btn { width: 32px; }
	main .calendar-head .btns-box .btn-prev { background-size: 24px; }
	main .calendar-head .btns-box .btn-next { background-size: 24px; }
	main .calendar-head .btns-box .btn-today { background-size: 24px; }
}

@media screen and (max-width: 480px) { /* mobile */
	header { padding-left: 12px; padding-right: 12px; }
	header h1 { font-size: 12px; }
	header ul.menu-list { margin-right: 4px; }
	header ul.menu-list > li { margin-right: 4px; }

	main .calendar-head { padding-left: 12px; padding-right: 12px; }
}




/*****************************************
	table
*****************************************/
/* table monthly */
table.tbl-monthly { width: 100%; border-collapse: collapse; table-layout: fixed; }
table.tbl-monthly thead th { height: 30px; font-size: 14px; font-weight: 400; }
table.tbl-monthly thead th.weekend { color: #559af7; }
table.tbl-monthly thead th.holiday { color: #fa5252; }
table.tbl-monthly tbody td { border: 1px solid #d8d8d8; box-sizing: border-box; vertical-align: top; font-size: 14px; }
table.tbl-monthly tbody td.other-month { background: #f7f7f7; cursor: default; }
table.tbl-monthly tbody td.this-month { cursor: pointer; }
table.tbl-monthly tbody td.this-week { background: #f0f7fe; }
table.tbl-monthly tbody td.today {}
table.tbl-monthly tbody td .date-num { padding: 4px 10px; text-align: right; }
table.tbl-monthly tbody td.today .date-num { color: #fff; background: #559af7; }
table.tbl-monthly tbody td.this-month .event-item:hover { opacity: 0.7; }
table.tbl-monthly tbody td.other-month .date-num { opacity: 0.5; }
table.tbl-monthly tbody td.other-month .event-item { opacity: 0.5; }
table.tbl-monthly tbody td .scroller { overflow-y: auto; height: 90px; transition: height 0.2s; }

/* table weekly */
table.tbl-weekly { width: 100%; margin: 30px 0 0 0; border-collapse: collapse; table-layout: fixed; }
table.tbl-weekly tbody {}
table.tbl-weekly tbody tr { cursor: pointer; }
table.tbl-weekly tbody th { position: relative; width: 100px; height: 100px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; line-height: 1.3; font-weight: 400; transition: width 0.2s; }
table.tbl-weekly tbody th .day { font-size: 12px; }
table.tbl-weekly tbody th .date { font-size: 14px; font-weight: 500; }
table.tbl-weekly tbody td { border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; }
table.tbl-weekly tbody td .scroller { overflow: auto; }
table.tbl-weekly tbody tr.weekend th { color: #559af7; }
table.tbl-weekly tbody tr.holiday th { color: #fa5252; }
table.tbl-weekly tbody tr.today th { color: #559af7; }
table.tbl-weekly tbody tr.today th:before { content: ''; position: absolute; top: 0; left: 0; width: 6px; height: 100px; background: #559af7; transition: width 0.2s; }


@media screen and (max-width: 768px) { /* tablet */
	/* table monthly */
	table.tbl-monthly thead th { font-size: 12px; }
	table.tbl-monthly tbody td { height: 80px; }
	table.tbl-monthly tbody td:first-child { border-left: 0; }
	table.tbl-monthly tbody td:last-child { border-right: 0; }
	table.tbl-monthly tbody td .date-num { padding: 2px 8px; font-size: 12px; }
	table.tbl-monthly tbody td .scroller { height: 80px; }

	/* table weekly */
	table.tbl-weekly tbody th { width: 80px; height: 90px; }
	table.tbl-weekly tbody tr.today th:before { height: 90px; }
}

@media screen and (max-width: 480px) { /* mobile */
	/* table monthly */
	table.tbl-monthly tbody td { border-width: 1px; border-color: #e9e9e9; }
	table.tbl-monthly tbody td .date-num { padding: 0 6px; font-size: 10px; }

	/* table weekly */
	table.tbl-weekly tbody th { width: 60px; border-color: #e9e9e9; }
	table.tbl-weekly tbody th .date { font-size: 12px; }
	table.tbl-weekly tbody tr.today th:before { width: 4px; }
	table.tbl-weekly tbody td { border-color: #e9e9e9; }
	
}



/*****************************************
	contents
*****************************************/
/* event list */
.monthly-calendar ul.event-list {}
.monthly-calendar ul.event-list > li { padding: 1px 1px 0; }
.monthly-calendar ul.event-list > li .event-item { overflow: hidden; text-overflow: ellipsis; padding: 0 4px; border: 2px solid #999da6; font-size: 13px; white-space: nowrap; background: #f5f5f5; }
.monthly-calendar ul.event-list > li .event-item.blue { border-color: #5383ec; background: #edf2fc; }
.monthly-calendar ul.event-list > li .event-item.green { border-color: #5ecc8c; background: #e9f9f3; }
.monthly-calendar ul.event-list > li .event-item.red { border-color: #ef8e80; background: #fcf3f2; }
.monthly-calendar ul.event-list > li .event-item.yellow { border-color: #edc14b; background: #fdf9ea; }
.weekly-calendar ul.event-list { white-space: nowrap; }
.weekly-calendar ul.event-list > li { display: inline-block; vertical-align: top; width: 160px; height: 100px; padding: 1px 0 1px 1px; box-sizing: border-box; white-space: normal; transition: width 0.2s; }
.weekly-calendar ul.event-list > li .event-item { position: relative; height: 100%; border: 1px solid #cecfd1; border-top: 4px solid #999da6; box-sizing: border-box; background: #e6e7e9; cursor: pointer; }
.weekly-calendar ul.event-list > li .event-item:hover { opacity: 0.7; }
.weekly-calendar ul.event-list > li .event-item .title { overflow: auto; height: 60px; padding: 6px 8px; box-sizing: border-box; font-size: 14px; transition: padding 0.2s; }
.weekly-calendar ul.event-list > li .event-item .category { position: absolute; bottom: 0; left: 0; width: 100%; padding: 0 8px 6px; box-sizing: border-box; font-size: 12px; color: #666; transition: padding 0.2s; }
.weekly-calendar ul.event-list > li .event-item.blue { border-color: #becadf; border-top-color: #5383ec; background: #d5e1f9; }
.weekly-calendar ul.event-list > li .event-item.green { border-color: #b7d9cb; border-top-color: #5ecc8c; background: #ccf2e2; }
.weekly-calendar ul.event-list > li .event-item.red { border-color: #e0ccc9; border-top-color: #ef8e80; background: #fae3e0; }
.weekly-calendar ul.event-list > li .event-item.yellow { border-color: #e0d7b9; border-top-color: #edc14b; background: #faf0cf; }


/* form list */
ul.form-list {}
ul.form-list > li { position: relative; padding: 20px 20px; text-align: center; background: #fff; transition: 0.2s; }
ul.form-list > li .icon-box { box-sizing: border-box; padding: 0 0 4px 0; font-size: 0; }
ul.form-list > li .icon-box .icon { vertical-align: top; }
ul.form-list > li.form-text {}
ul.form-list > li.form-date { margin: 20px 0 0 0; }
ul.form-list > li.form-date .bar { display: inline-block; width: 1px; height: 16px; background: #dadada; }
ul.form-list > li.form-repeat {}
ul.form-list > li.form-repeat:before { content: ''; position: absolute; top: 0; left: 0; right: 0; width: 320px; margin: 0 auto; border-top: 1px solid #dadada; }
ul.form-list > li.form-repeat ul.toggle-list { margin-top: -10px; }
ul.form-list > li.form-category { margin: 20px 0 0 0; padding-top: 26px; }

/* input box */
.input-box { position: relative; }
.input-box input { width: 100%; height: 60px; padding: 0 40px 0 30px; border-radius: 8px; box-sizing: border-box; font-size: 18px; font-weight: 400; background: #f2f3f4; transition: 0.2s; }
.input-box input::placeholder { color: rgba(0, 0, 0, 0.5); }
.input-box .dot { position: absolute; top: 0; left: 10px; bottom: 0; width: 8px; height: 8px; margin: auto 0; border-radius: 50%; }
.input-box .dot.blue { background: #5383ec; }
.input-box .dot.green { background: #5ecc8c; }
.input-box .dot.red { background: #ef8e80; }
.input-box .dot.yellow { background: #edc14b; }
.input-box .btn-clear { _display: none; position: absolute; top: 0; right: 10px; bottom: 0; width: 24px; height: 24px; margin: auto 0; background: url('../images/icons/icon-cancel.png') no-repeat center; background-size: 100%; }
.input-box .btn-clear.is-active { display: block; }
.input-box input:focus { color: #fff; background: #4e8ee4; }
.input-box input:focus::placeholder { color: rgba(255, 255, 255, 0.5); }
.input-box input:focus ~ .dot { display: none; }
.input-box .alert { z-index: 100; display: none; position: absolute; top: 50px; left: 50%; padding: 0 20px; transform: translateX(-50%); line-height: 40px; border-radius: 8px; font-size: 14px; color: #c92b1e; white-space: nowrap; background: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16); cursor: default; }

/* category box */
.category-box { position: relative; display: inline-block; vertical-align: top; padding: 0 26px 30px; transition: padding 0.2s; }
.category-box input { display: none; }
.category-box label { position: relative; display: block; width: 28px; height: 28px; border-radius: 50%; cursor: pointer; }
.category-box label .inner-circle { position: absolute; top: 0; left: 0; width: 28px; height: 28px; border-radius: 50%; }
.category-box label .outer-circle { display: none; position: absolute; top: -4px; left: -4px; width: 36px; height: 36px; border-radius: 50%; border-width: 3px; border-style: solid; box-sizing: border-box; background: transparent; }
.category-box label .text { position: absolute; bottom: -26px; left: 50%; transform: translateX(-50%); font-size: 12px; opacity: 0.5; }
.category-box label:hover .text { opacity: 1; }
.category-box label.blue .outer-circle { border-color: #5383ec; }
.category-box label.blue .inner-circle { background: #5383ec; }
.category-box label.green .outer-circle { border-color: #5ecc8c; }
.category-box label.green .inner-circle { background: #5ecc8c; }
.category-box label.red .outer-circle { border-color: #ef8e80; }
.category-box label.red .inner-circle { background: #ef8e80; }
.category-box label.yellow .outer-circle { border-color: #edc14b; }
.category-box label.yellow .inner-circle { background: #edc14b; }
.category-box input:checked ~ label .outer-circle { display: block; }
.category-box input:checked ~ label .inner-circle { top: 2px; left: 2px; width: 24px; height: 24px; }
.category-box input:checked ~ label .text { opacity: 1; }


/* date list */
ul.date-list {}
ul.date-list > li { position: relative; display: inline-block; vertical-align: top; }
ul.date-list > li + li:before { content: ''; position: absolute; top: 0; left: 0; bottom: 0; width: 1px; height: 16px; margin: auto 0; background: #dadada; }
ul.date-list > li select { display: inline-block; width: 100px; height: 40px; text-align: -webkit-center; text-align: center; font-size: 18px; }
ul.date-list > li select:hover { opacity: 0.7; }


/* toggle list */
ul.toggle-list { display: inline-block; border-radius: 8px; }
ul.toggle-list > li { position: relative; display: inline-block; vertical-align: top; }
ul.toggle-list > li input { display: none; }
ul.toggle-list > li label { display: inline-block; vertical-align: top; width: 80px; font-size: 14px; line-height: 32px; opacity: 0.5; cursor: pointer; }
ul.toggle-list > li label:hover { opacity: 1; }
ul.toggle-list > li input:checked {}
ul.toggle-list > li input:checked ~ label { opacity: 1; color: #303030; background: #fff; }


/* info box */
.info-box { padding: 20px 0; transition: padding 0.2s; }
.info-box + .info-box { border-top: 1px solid #dadada; }
.info-box > * { padding-left: 30px; padding-right: 30px; }
.info-box .title { position: relative; }
.info-box .title .dot { position: absolute; left: 0; top: 9px; width: 10px; height: 10px; border-radius: 50%; background: #666; }
.info-box .title .dot.blue { background: #5383ec; }
.info-box .title .dot.green { background: #5ecc8c; }
.info-box .title .dot.red { background: #ef8e80; }
.info-box .title .dot.yellow { background: #edc14b; }
.info-box .title .text { font-size: 18px; font-weight: 700; }
.info-box .title .icon { position: absolute; left: 0; top: 4px; }
.info-box .date { margin: 12px 0 0 0; color: #6f737b; }
.info-box .icon { position: absolute; left: -4px; top: 4px; width: 20px; height: 20px; }
.info-box .category { position: relative; }
.info-box .repeat { position: relative; margin: 12px 0 0 0; }


@media screen and (max-width: 768px) { /* tablet */
	/* event list */
	.monthly-calendar ul.event-list > li .event-item { border-width: 1px; font-size: 12px; }
	.weekly-calendar ul.event-list > li { width: 120px; height: 90px; }
	.weekly-calendar ul.event-list > li .event-item .title { font-size: 12px; }

	/* form list */
	ul.form-list > li { padding-top: 12px; padding-bottom: 12px; }
	ul.form-list > li.form-date { margin-top: 12px; }
	ul.form-list > li.form-repeat:before { width: 280px; }
	ul.form-list > li.form-category { margin-top: 12px; padding-top: 20px; }

	/* input box */
	.input-box input { height: 48px; font-size: 16px; }
	.input-box .btn-clear { background-size: 20px; }
	.input-box .alert { top: 38px; font-size: 12px; }

	/* category box */
	.category-box { padding-left: 22px; padding-right: 22px; }

	/* date list */
	ul.date-list > li { width: 100px; text-align: center; }
	ul.date-list > li select { width: auto; padding: 0 10px; font-size: 16px; }

	/* toggle list */

	/* info box */
	.info-box { padding-top: 16px; padding-bottom: 16px; }
	.info-box .icon { top: 2px; }
	.info-box .title .dot { top: 8px; }
	.info-box .title .text { font-size: 16px; } 
	.info-box .date { margin-top: 10px; }
	.info-box .repeat { margin-top: 10px; }
}

@media screen and (max-width: 480px) { /* mobile */
	/* event list */
	.monthly-calendar ul.event-list > li .event-item { border-width: 1px; font-size: 10px; }
	.weekly-calendar ul.event-list > li { width: 70px; }
	.weekly-calendar ul.event-list > li .event-item { border-top-width: 3px; }
	.weekly-calendar ul.event-list > li .event-item .title { padding: 2px 6px; font-size: 10px; }
	.weekly-calendar ul.event-list > li .event-item .category { padding: 4px 6px; font-size: 10px; }

	/* form list */
	ul.form-list > li { padding-left: 0; padding-right: 0; }
	ul.form-list > li.form-text { padding-left: 20px; padding-right: 20px; }
}




/*****************************************
	popup
*****************************************/
/* write popup */
.write-popup { display: none; opacity: 0; position: fixed; top: 0; left: 0; right: 0; bottom: 0; text-align: center; transition: opacity 0.2s; }
.write-popup:after { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.write-popup .popup-dim { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); }
.write-popup .popup-layout { overflow: hidden; position: relative; display: inline-block; vertical-align: middle; width: 400px; border-radius: 12px; background: #fff; box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08); transition: width 0.2s; }
.write-popup .popup-layout .header {}
.write-popup .popup-layout .header b { display: block; padding: 0 80px; text-align: center; line-height: 50px; }
.write-popup .popup-layout .header .btn { position: absolute; height: 50px; font-size: 14px; }
.write-popup .popup-layout .header .btn-cancel { top: 0; left: 20px; }
.write-popup .popup-layout .header .btn-save { top: 0; right: 20px; font-weight: 700; color: #3478f6; }
.write-popup .popup-layout .contents { padding: 0 0 40px 0; background: #f2f3f4; }

.write-popup.is-active { display: block; }
.write-popup.is-animate { opacity: 1; }


/* read popup */
.read-popup { display: none; opacity: 0; position: fixed; top: 0; left: 0; right: 0; bottom: 0; text-align: center; transition: opacity 0.2s; }
.read-popup:after { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.read-popup .popup-dim { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); }
.read-popup .popup-layout { overflow: hidden; position: relative; display: inline-block; vertical-align: middle; width: 400px; border-radius: 12px; text-align: left; background: #fff; box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08); transition: 0.2s; }
.read-popup .popup-layout .contents { padding: 10px 0 10px 30px; }
.read-popup .popup-layout .bottom { padding: 0 10px; border-top: 1px solid #dadada; box-sizing: border-box; }
.read-popup .popup-layout .bottom:after { content: ''; display: block; clear: both; }
.read-popup .popup-layout .bottom .btn { height: 42px; }
.read-popup .popup-layout .bottom .btn-edit { float: left; padding: 0 10px 2px; font-size: 14px; font-weight: 400; }
.read-popup .popup-layout .bottom .btn-delete { float: right; padding: 0 10px 2px; font-size: 14px; font-weight: 400; color: #c92b1e; }

.read-popup.is-active { display: block; }
.read-popup.is-animate { opacity: 1; }


/* delete popup */
.delete-popup { display: none; opacity: 0; position: fixed; top: 0; left: 0; right: 0; bottom: 0; text-align: center; transition: opacity 0.2s; }
.delete-popup:after { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.delete-popup .popup-dim { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); }
.delete-popup .popup-layout { overflow: hidden; position: relative; display: inline-block; vertical-align: middle; width: 360px; padding: 20px; box-sizing: border-box; border-radius: 12px; background: #fff; box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08); transition: 0.2s; }
.delete-popup .popup-layout p { text-align: center; }
.delete-popup .popup-layout p b { font-weight: 500; }
.delete-popup .popup-layout p .event { display: inline-block; margin: 10px 0 0 0; font-size: 14px; color: #6f737b; }
.delete-popup .popup-layout .btns-box { margin: 40px 0 0 0; }
.delete-popup .popup-layout .btns-box .btn { width: 100%; height: 40px; }
.delete-popup .popup-layout .btns-box .btn-delete { border-radius: 8px; color: #fff; background: #d06763; }
.delete-popup .popup-layout .btns-box .btn-cancel { margin: 20px 0 0 0; border-radius: 8px; background: #f2f3f4; }

.delete-popup.is-active { display: block; }
.delete-popup.is-animate { opacity: 1; }



@media screen and (max-width: 768px) { /* tablet */
	/* write popup */
	.write-popup .popup-layout { width: 360px; }
	.write-popup .popup-layout .header b { line-height: 42px; }
	.write-popup .popup-layout .header .btn { height: 42px; }
	.write-popup .popup-layout .contents { padding-bottom: 28px; }

	/* read popup */
	.read-popup .popup-layout { width: 360px; }
	.read-popup .popup-layout .contents { padding-top: 4px; padding-bottom: 4px; padding-left: 30px; }

	/* delete popup */
	.delete-popup .popup-layout { width: 320px; }
	.delete-popup .popup-layout .btns-box { margin-top: 24px; }
	.delete-popup .popup-layout .btns-box .btn { height: 36px; }
	.delete-popup .popup-layout .btns-box .btn-cancel { margin-top: 12px; }
}

@media screen and (max-width: 480px) { /* mobile */
	/* write popup */
	.write-popup .popup-layout { position: absolute; top: 100%; left: 0; width: 100%; height: 80vh; border-radius: 12px 12px 0 0; transition: margin 0.3s; }
	.write-popup .popup-layout .contents { position: absolute; top: 42px; bottom: 0; left: 0; width: 100%; }

	/* read popup */
	.read-popup .popup-layout { position: absolute; top: 100%; left: 0; width: 100%; border-radius: 12px 12px 0 0; transition: margin 0.3s; }
	.read-popup .popup-layout .bottom { padding-bottom: 10px; }
	
	/* delete popup */
	.delete-popup .popup-layout { position: absolute; top: 100%; left: 0; width: 100%; border-radius: 12px 12px 0 0; transition: margin 0.3s; }
	.delete-popup .popup-layout .bottom { padding-bottom: 10px; }
}







